/* width:1320px */
/* 패딩 양쪽으로 20px,contents 1280px */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  font-size: 16px;
}

.btn {
  font-size: 18px;
  width: 256px;
  height: 64px;
  border: none;
  background-color: #111;
  color: #fff;
}

.center_box {
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.nav li a {
  display: inline-block;
  margin-right: 30px;
  font-weight: 400;
}

.top_menu {
  display: flex;
  width: 28px;
  height: 28px;
}

.top_menu li:last-child {
  margin-left: 40px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details {
  height: 728px;
  background-image: url(/images/main_visual.png);
  background-repeat: no-repeat;
  background-position: center right 30px;
  position: relative;
}

.visual .details h1 {
  position: absolute;
  top: 124px;
  left: 20px;
}

.visual .details p {
  position: absolute;
  top: 210px;
  left: 20px;
  line-height: 1.3;
}

.visual .details .btn {
  position: absolute;
  top: 0;
  left: 20px;
}

.product_new center {
  margin-top: 120px;
  margin-bottom: 100px;
}

.product_new center ul li h3 {
  font-size: 30px;
}

.product_02 center_box {
  text-align: center;
  margin-bottom: 64px;
}

.product_new .product_title {
  font-family: "Poppins", sans-serif;
}

.infos {
  margin-top: 120px;
  margin-bottom: 100px;
}

.infos .titles {
  text-align: center;
  margin-bottom: 64px;
}

.infos .titles h2 {
  font-size: 40px;
  padding-bottom: 26px;
}

.infos .titles p {
  font-size: 18px;
  padding-bottom: 20px;
}

.btn_01 {
  width: 254px;
  height: 64px;
  font-size: 18px;
  background-color: #fff;
}
/* footer */
.footer {
  background-color: #111;
  color: #fff;
}

.footer_info p {
  font-size: 12px;
}

.social_icons {
  display: flex;
  padding-right: 10px;
}

.social_icons li {
  display: inline-block;
  margin-right: 10px;
}

.footer_menu {
  display: flex;
  padding-top: 50px;
}

.footer_menu li {
  margin-right: 40px;
}

.footer_menu ul li a {
  display: inline-block;
  font-size: 14px;
  color: #f5f5f5;
  margin-bottom: 30px;
}

.copyright {
  font-size: 10px;
  color: #f5f5f5;
  margin-top: 100px;
}

.copyright p {
  padding-bottom: 30px;
}
